.services {
  padding: 8rem 3rem 0 3rem;
  display : flex;
  height: 35rem;
}

.awesome {
  display:flex;
  flex-direction: column;
  position:relative;
}

.awesome>:nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome>:nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
}

.awesome>:nth-child(3) {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1rem;
}

.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}

.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

.Mobile-version-cards {
  display: none;
}

@media screen and (max-width: 1200px) {
  .services {
    flex-direction: column;
    height: auto;
  }
  .cards {
    display: none;
  }

  .Mobile-version-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
  }

  .mobile-card {
    transform: scale(1);
    width: 18rem;
    height: 20rem;
  }

}

@media screen and (max-width: 780px){
  .services {
    margin-top: 0;
    flex-direction: column;
    height: max-content;
    padding: 0;
    padding-left: 1rem;
  }

  .cards {
    display: none;
  }
  .Mobile-version-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .mobile-card {
    transform: scale(0.6);
    width: 12rem;
    height: 14rem;
  }
}
