@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0;
}

.App{
    padding: 0 3.5rem;
    overflow: hidden;
    color: var(--black);
}

.button {
  transition: 0.2s;
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.button:hover {
  transition: 0.2s;
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}

@media screen and (max-width: 1500px) {
  .App {
    padding: 0 1rem 0 1rem;
  }
}

@media screen and (max-width: 880px) {
  .App {
    padding: 0;
  }
}

